# 分析数据

分析各变量的相关关系

In [1]:
import pandas as pd
import numpy as np
import os
import random
import datetime as dt
import matplotlib as mpl
from sklearn import preprocessing

In [2]:
at_data= pd.read_csv('.\\data\\AT_data.csv')
ch_data= pd.read_csv('.\\data\\CH_data.csv')
de_data= pd.read_csv('.\\data\\DE_data.csv')
nl_data= pd.read_csv('.\\data\\NL_data.csv')
pl_data= pd.read_csv('.\\data\\PL_data.csv')
at_data.head()

                  time    load  temperature  windspeed
0  2008-01-01 00:00:00  6080.0       -5.437       2.71
1  2008-01-01 01:00:00  5822.0       -5.631       2.72
2  2008-01-01 02:00:00  5436.0       -5.799       2.69
3  2008-01-01 03:00:00  5253.0       -5.931       2.67
4  2008-01-01 04:00:00  5260.0       -6.110       2.61

# AT_data

In [3]:
at_data.corr()

                 load  temperature  windspeed
load         1.000000    -0.143550   0.177961
temperature -0.143550     1.000000  -0.175332
windspeed    0.177961    -0.175332   1.000000

In [4]:
scaler = preprocessing.MinMaxScaler(feature_range=(0, 1))
at_data['temperature'] = scaler.fit_transform(at_data[['temperature']])
at_data['windspeed'] = scaler.fit_transform(at_data[['windspeed']])
at_data['load'] = scaler.fit_transform(at_data[['load']])
at_data.head(400)

                    time      load  temperature  windspeed
0    2008-01-01 00:00:00  0.303232     0.250673   0.201336
1    2008-01-01 01:00:00  0.271404     0.246859   0.202290
2    2008-01-01 02:00:00  0.223785     0.243557   0.199427
3    2008-01-01 03:00:00  0.201209     0.240962   0.197519
4    2008-01-01 04:00:00  0.202073     0.237443   0.191794
..                   ...       ...          ...        ...
395  2008-01-17 11:00:00  0.634715     0.418071   0.080153
396  2008-01-17 12:00:00  0.635455     0.421943   0.062977
397  2008-01-17 13:00:00  0.627436     0.418562   0.051527
398  2008-01-17 14:00:00  0.626326     0.403680   0.057252
399  2008-01-17 15:00:00  0.644214     0.382645   0.092557

[400 rows x 4 columns]

In [5]:
at_data.corr()

                 load  temperature  windspeed
load         1.000000    -0.143550   0.177961
temperature -0.143550     1.000000  -0.175332
windspeed    0.177961    -0.175332   1.000000

In [6]:
at_data[:240].plot()

# CH-data